Options +FollowSymlinks
Options All -Indexes
RewriteEngine on
RewriteRule ^blog/(.+[^/]) users/blog.php?user=$1 [nc]
RewriteRule ^gb/(.+[^/]) users/gb.php?user=$1 [nc]

#RewriteCond %{HTTP_HOST} !^netfriending\.co\.cc$
#RewriteRule (.*) http://localhost/netfriending/$1 [r=Permanent]
#RewriteRule ^tw/(.*) $1 [nc]

AddHandler application/x-httpd-php5 .shtml
ErrorDocument 400 /400.shtml
ErrorDocument 401 /401.shtml
ErrorDocument 403 /403.shtml
ErrorDocument 404 /404.shtml
ErrorDocument 406 /406.shtml
ErrorDocument 500 /500.shtml
